* {
    padding: 0;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#top_container {
    background-color: #4b6b57;
    height: 70px;
    width: 100vw;
    display: grid;
    grid-template-columns: 400px 1fr 100px 275px;
}

#title{
    color: white;
    font-size: 30px;
    background-color: #4b6b57;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_word{
    color: white;
    font-size: 20px;
    background-color: #4b6b57;
    grid-column-start: 3;
    grid-column-end: 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 100px;
}


#search_word::after {
    content: "";
    padding-right: 5pt;
}


#search_bar_section{
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: #4b6b57;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 280px;
    padding-left: 5px;
}

#search_bar{
    height: 30px;
    font-size: medium;
}

#mag_glass{
    height: 32px;
}

#page_container{
    height: calc(100vh - 70px);
    width: 100vw;
    display: grid;
    grid-template-columns: 50px 0.5fr 0.5fr 50px 300px 300px 70px;
    grid-template-rows: 50px 50px 50px 50px 130px 80px 200px 50px;
    background-color: #c9c9c7;;
}

#city{
    font-size: 40px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #8c7b94;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 170px;
}

#temp {
    font-size:60px;
    border-style: solid;
    border-width: 5px;
    border-color: #8c7b94;
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 2;
    grid-column-end: 4;
    background-color: #beb3c4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
}

#down_arrow_area{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #c9c9c7;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    font-size: 50px;
    min-width: 85px;
    padding-right: 5px;
}

#up_arrow_area{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: #c9c9c7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 50px;
    min-width: 85px;
    padding-left: 5px;
}

#down_arrow{
    height: 50px;
}

#up_arrow{
    height: 50px;
}

#choose_sky{
    color: white;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: #64576e;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 40px;
    padding-right: 5px;
}

#sky_dropdown{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 6;
    grid-column-end: 7;
    background-color: #64576e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 40px;
    padding-left: 5px;
}

#sky{
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 7;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ground{
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 5;
    grid-column-end: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgreen;
}

#landscape_photo{
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}

#sky_photo{
    object-fit: cover;
    height: 100%;
    max-width: 100%;
}